
<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @properties.each do |properti| %>
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200  group-hover:opacity-75 ">
            <img src="https://a0.muscache.com/im/pictures/81ec09e0-f181-4347-82f9-ec4931a3febd.jpg?im_w=960", class="h-full w-full object-cover object-center lg:h-full lg:w-full">
            </div>
            <div class="mt-3 flex justify-between">
            <div>
                <h3 class="text-sm font-semibold text-gray-700">
                <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <%= properti.headline %>
                </a>
                </h3>

                <p class="mt-0.5 text-sm text-gray-500"><%= properti.name %></p>
                <p class="mt-0.5 text-sm text-gray-500"><%= properti.city %>, <%= properti.country %></p>
                <p class="mt-0.5 text-sm font-light text-black"><span class="font-bold" >$110 </span>night </p>
            </div>
                <p class="text-sm font-bold text-gray-900">4.5</p>
            </div>
        </div>
      <%end%>
      <!-- More products... -->
    </div>
  </div>
</div>